@model TopRated_TvRes
@{
    ViewData["Title"] = "The Movie Database API";
}


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center text-primary">Top Rated TV Shows</h1>
        </div>
        @foreach (var movie in Model.Results)
        {
            <div class="col-md-3 mt-5">

                <div class="card">
                    <img src="@ViewBag.imageurl/@movie.poster_path" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">@movie.name</h5>
                        <p>@movie.first_air_date.ToString("MMM dd, yyyy")</p>
                     
                    </div>
                </div>

            </div>
        }
    </div>

</div>
